﻿@using TDL.WebApi.Models
@model IEnumerable<CategoryModel>

<button type="button" class="btn btn-primary btn-lg top-buffer" data-toggle="modal" data-target="#AddModal">Add category</button>
@Html.Partial("CategoryPartial/SearchPartial")
<div id="errors" style="color:red;"></div>
<div id="tableBlock" class="top-buffer"></div>
@Html.Partial("CategoryPartial/EditCategoryPartial")
@Html.Partial("CategoryPartial/AddCategoryPartial")

@Scripts.Render("~/script/Category/js")
@section scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            tokenKey = "tokenInfo";
            url = "@Url.Action("Task", "Home")";
            GetAllCategories();

            $('#myModal').on('shown.bs.modal', function () {
                $('#myInput').focus()
            })
        });
</script>
}