﻿@model TDL.WebApi.Models.TaskModels.ListShortTaskModel

@{
    ViewBag.Title = "Task";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <button type="button" class="btn  btn-primary btn-lg top-buffer col-md-2" id="newTask" data-toggle="modal" data-target="#AddModal">Add task</button>
    <div class="col-md-4"></div>
    <button type="button" class="btn  btn-primary btn-lg top-buffer col-md-2" id="myTask">My task</button>
    <div class="col-md-1"></div>
    <button type="button" class="btn  btn-primary btn-lg top-buffer col-md-2" id="sharedTask">Shared task</button>
    
    
    </div>
<div class="container">
    @Html.Partial("TaskPartial/SearchPartial")
</div>
    <div id="errors" style="color:red;"></div>
    <div id="tableBlock" class="top-buffer"></div>
    <div class="btn-group" id="pagination">
    </div>
    @Html.Partial("TaskPartial/SharingTaskPartial")
    @Html.Partial("TaskPartial/EditTaskPartial")
    @Html.Partial("TaskPartial/AddTaskPartial")
@Html.Partial("TaskPartial/DetailTask")

    @Scripts.Render("~/script/Task/js")
@Scripts.Render("~/script/Comment/js")
    @section scripts
{
        <script type="text/javascript">
            $(document).ready(function () {
             howGive = 1;
            startPage = 1;
            CategoryID =@ViewBag.Id;
            tokenKey = "tokenInfo";
            GetAllTask(CategoryID, startPage, howGive);
            $("#closeSharing").click(function (event) {
                $(".sharing").remove();
            });
            $("#myTask").click(function (event) {
                $('#errors').empty();
                GetAllTask(CategoryID, startPage, howGive);
            });
            $('#myModal').on('shown.bs.modal', function () {
                $('#myInput').focus()
            })
            $('#detailsTask').on('shown.bs.modal', function () {
                $('#myInput').focus()
            })
        });

            function AddText(User) {
                $.each(User, function (key, value) {
                    $("." + value.UserName).text("" + value.UserName);
                });
            }
        </script>
    }
