﻿
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">User info</h4>
            </div>
            <div class="modal-body" id="detailsBlock">
                <input type="hidden" id="IdUser" />
                <div class="form-group">
                    <label class="col-sm-4 control-label">Email</label>
                    <div class="col-sm-8">
                        <label class="col-sm-8 control-label" id="userEmail"></label>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">Phone number</label>
                    <div class="col-sm-8">
                        <label class="col-sm-8 control-label" id="userPhone"></label>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">User Name</label>
                    <div class="col-sm-8">
                        <label class="col-sm-8 control-label" id="userName"></label>
                    </div>
                </div>
            </div>

            <div style="clear:both;"></div>
            <div class="modal-footer">
                <div class="container row">
                    <button id="deleteUser" class="btn btn-danger col-sm-3">Delete account</button>
                    <button id="information" class="btn btn-success col-sm-3" data-toggle="modal" data-target="#myModal">Edit</button>
                </div>
            </div>
</div>
@Html.Partial("UserPartial/EditUser")
@Scripts.Render("~/script/User/js")
@section scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            tokenKey = "tokenInfo";
            GetUserInformation();
           url ="@Url.Action("Register", "Account")";
        });
    </script>
}