﻿@model TDL.WebApi.Service.Models.UserModel
@{
    ViewBag.Title = "AdminInformation";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<h2 class="text-center"></h2>



@Styles.Render("~/Register/css")

<div class="container">
    <div class="row">
        <div class="col-md-offset-3 col-md-6">

            <div class="tab" role="tabpanel">
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#Section1" aria-controls="home" role="tab" data-toggle="tab">User information</a></li>
                </ul>
                <!-- Tab panes -->
                <div class="tab-content tabs">
                    <div role="tabpanel" class="tab-pane fade in active" id="Section1">
                        @using (Html.BeginForm("Edit", "User",
    null,
    FormMethod.Post, new { @class = "form-horizontal" }))
                        {
                            @Html.HiddenFor(model => model.Id)
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="form-group">
                                <label for="exampleInputEmail1">User Name</label>
                                @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control", id = "exampleInputEmail1" } })
                                @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1">Email address</label>
                                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", id = "exampleInputEmail1" } })
                                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1">Phone number</label>
                                @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control", id = "exampleInputEmail1" } })
                                @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-default">Save</button>
                            </div>
                        }
                    </div>
                </div>
            </div>

        </div><!-- /.col-md-offset-3 col-md-6 -->
    </div><!-- /.row -->
</div><!-- /.container -->