﻿<div class="login top-buffer">
    <div class="container">
        <div class="row main-form">
            <div class="form-group">
                <label for="name" class="cols-sm-2 control-label">Your login</label>
                <div class="cols-sm-10">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                        <input type="text" class="form-control" name="login" id="loglogin" placeholder="Enter your login" />
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="password" class="cols-sm-2 control-label">Password</label>
                <div class="cols-sm-10">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                        <input type="password" class="form-control" name="password" id="logpassword" placeholder="Enter your Password" />
                    </div>
                </div>
            </div>


            <div class="form-group">
                <div class="cols-sm-10">
                    <input class="btn btn-primary btn-lg btn-block login-button" type="submit" id="submitLogin" value="Login" />
                </div>
            </div>
        </div>
    </div>
</div>
