﻿@model  ToDoList.Identity.Models.Users.RegisterModel

@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Login.cshtml";
}
<input class="btn btn-primary btn-lg btn-block login-button" type="submit" id="formLogin" value="Login" />
<input class="btn btn-primary btn-lg btn-block register-button" type="submit" id="formRegister" value="Registration" />
<div id="errors" style="color:red;"></div>
<div class="registration top-buffer">
    <div class="container">
        <div class="row main-form">
            <div class="form-group">
                <label for="name" class="cols-sm-2 control-label">Your login</label>
                <div class="cols-sm-10">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                        <input type="text" class="form-control" name="login" id="login" placeholder="Enter your login" />
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="email" class="cols-sm-2 control-label">Your Email</label>
                <div class="cols-sm-10">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
                        <input type="text" class="form-control" name="email" id="email" placeholder="Enter your Email" />
                    </div>
                </div>
            </div>


            <div class="form-group">
                <label for="password" class="cols-sm-2 control-label">Password</label>
                <div class="cols-sm-10">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                        <input type="password" class="form-control" name="password" id="password" placeholder="Enter your Password" />
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="confirm" class="cols-sm-2 control-label">Confirm Password</label>
                <div class="cols-sm-10">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                        <input type="password" class="form-control" name="confirm" id="confirm" placeholder="Confirm your Password" />
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="cols-sm-10">
                    <input class="btn btn-primary btn-lg btn-block login-button" type="submit" id="submit" value="Registration" />
                </div>
            </div>
        </div>
    </div>
</div>
@Html.Partial("Login")
@Scripts.Render("~/Scripts/OAuth/Registration.js")
@Scripts.Render("~/Scripts/OAuth/Login.js")
@section scripts{
    <script type="text/javascript">
        $(function () {
            tokenKey = "tokenInfo";
           url ="@Url.Action("Category", "Home")";
})
    </script>
}