﻿<div class="modal fade" id="AddModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Add category</h4>
            </div>
            <div class="modal-body" id="createBlock">
                <div class="form-group">
                    <label class="col-sm-4 control-label">Name category</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="addName" placeholder="Name category">
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button id="addCategory" data-dismiss="modal" class="btn btn-success">Save</button>
            </div>
        </div>
    </div>
</div>
