﻿<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Edit category</h4>
            </div>
            <div class="modal-body" id="editBlock">
                <input type="hidden" id="editId" />
                <div class="form-group">
                    <label class="col-sm-4 control-label">Edit name</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="editName" placeholder="Name category">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button id="editCategory" data-dismiss="modal" class="btn btn-success">Save</button>
            </div>
        </div>
    </div>
</div>
