﻿@model TDL.WebApi.Service.Models.CategoryModel

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-center text-info">Add new category</h2>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal col-md-4 col-md-offset-4 text-center well">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group">
                <div class="input-group ">
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", placeholder=" Category name" } })
                  
                    <span class="input-group-btn">

                        <button class="btn btn-default btn-search " type="submit"><i class="fa fa-plus" aria-hidden="true"></i></button>
                    </span>
                </div>
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>
    }
