﻿@model TDL.WebApi.Service.Models.CategoryModel

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="container" id="editForm_@Model.IDCategory">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.IDCategory)
        @Html.HiddenFor(model => model.IDUser)

       
        <div class="form-group">
            <div class="input-group ">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
              
                <span class="input-group-btn">
                   
                    <button class="btn btn-default btn-search " type="submit"><i class="fa fa-edit" aria-hidden="true"></i></button>
                    <i class="glyphicon glyphicon-remove" onclick="Cancel(@Model.IDCategory);" aria-hidden="true"></i>
                </span>
              
            </div>
            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
        </div>
    </div>
}
@Scripts.Render("~/bundles/jqueryval")
