﻿@model IEnumerable<TDL.WebApi.Service.Models.CategoryModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (Model.Count() > 0)
{
    <div class="list-group  row col-md-4 top-margin left-margin well">
        <h2 class="container text-info">Select category</h2>
    @foreach (var category in Model)
    {
        <p class="list-group-item ">
            <a class="categoryName" href="@Url.Action("Index", "Task", new { idCategory = category.IDCategory })">
        <i >@category.Name</i>
        
        </a>
        <a href="@Url.Action("Delete", new { id = category.IDCategory })">
            <i class="fa fa-trash icons text-danger" aria-hidden="true"></i>
        </a>
        <a class="compItem" id="@category.IDCategory" href="@Url.Action("Edit", new { id = category.IDCategory })">
            <i class="fa fa-edit icons text-success" aria-hidden="true"></i>
        </a>
        <a href="@Url.Action("Create", "Task", new { idCategory = category.IDCategory })">
            <i class="fa fa-plus icons" aria-hidden="true"></i>
        </a>
        </p>
        <div id='modDialog'>
            <div id="dialogContent_@category.IDCategory"></div>
        </div>
    }
</div>

<div class="col-md-7 top-margin  left-margin" id="taksShow">
    <div class="container se-pre-con"></div>
</div>
}
else
{
    <h2 class="container text-danger">Category not found</h2>
}
    @Scripts.Render("~/category/script")

