﻿@model IEnumerable<TDL.WebApi.Service.Models.StatusModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<button type="button" class="btn btn-primary col-lg-offset-4 d-block row top-margin " data-toggle="modal" data-target="#exampleModal">
    Add Status
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title text-center text-info" id="exampleModalLabel">New Status</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div style="clear:both;"></div>
            <div class="modal-body row">
                @using (Html.BeginForm("Create", "Status"))
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal col-md-8 col-md-offset-2 text-center">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        <div class="form-group">
                            <div class="input-group ">
                                @Html.Editor("Name", new { htmlAttributes = new { @class = "form-control", maxlength = "50", required = "true", placeholder="New status name" } })
                                @Html.ValidationMessage("Name", "", new { @class = "text-danger" })
                                <span class="input-group-btn">
                                    <button class="btn btn-default btn-search " type="submit"><i class="fa fa-plus" aria-hidden="true"></i></button>
                                </span>
                            </div>
                        </div>
                    </div>
                }

            </div>
            <div style="clear:both;"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div class="list-group row col-lg-offset-4 col-md-4 top-margin">

    @foreach (var status in Model)
    {
        <p class="list-group-item ">
                @status.Name
            <a href="@Url.Action("Delete",  new { id = status.IDStatus })">
                <i class="fa fa-trash icons text-danger" aria-hidden="true"></i>
            </a>
            <a class="compItem" id="@status.IDStatus" href="@Url.Action("Edit",  new { id =status.IDStatus })">
                <i class="fa fa-edit icons text-success" aria-hidden="true"></i>
            </a>
        </p>
            <div id='modDialog'>
                <div id="dialogContent_@status.IDStatus"></div>
            </div>
    }
</div>

@Scripts.Render("~/category/script")

