﻿@model TDL.AspNet.Models.CreateTaskModel

@{
    ViewBag.Title = "Create";
    if(DateTime.Now.Month < 10)
    {
        ViewBag.Month = "0" + DateTime.Now.Month;
    }
    else
    {

        ViewBag.Month = DateTime.Now.Month;
    }
    if (DateTime.Now.Day < 10)
    { ViewBag.Day = "0" + DateTime.Now.Day; }
    else { ViewBag.Day = DateTime.Now.Day; }

    ViewBag.Date = DateTime.Now.Year+ "-" + ViewBag.Month + "-" + ViewBag.Day;
    Layout = "~/Views/Shared/_Layout.cshtml";
}



    <div class="container">

        <div class="row">

            <div class="col-lg-8 col-lg-offset-2">

                <h2 class="text-center text-info">Add new task</h2>


               @using (Html.BeginForm())
               {
                @Html.AntiForgeryToken()

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div class="controls">

                        <div class="row">
                            
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="form_name">Title *</label>
                                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @id = "form_name", placeholder = "Please enter title *" } })
                                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="form_lastname">Priority *</label>
                                    @Html.EditorFor(model => model.Priority, new { htmlAttributes = new { @class = "form-control", @id = "form_lastname", placeholder = "Please choice level priority *" } })
                                    @Html.ValidationMessageFor(model => model.Priority, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="form_message">Description </label>
                                    @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control", @id = "form_message", placeholder = "Description for task" } })
                                    @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="form_message">Status </label>
                                    @Html.DropDownListFor(model => model.IDStatus, ViewBag.Statuses as SelectList, new { @id = "form_message", @class = "form-control" })
                                </div>
                            </div>
                        </div>
                            <div class=" col-lg-offset-4 col-md-6">
                                <div class="form-group">
                                    <label for="form_message">Date Finish </label>
                                    @Html.EditorFor(model => model.DateFinish, new { htmlAttributes = new { @class = "form-control", type="date", min= ViewBag.Date } })
                                    @Html.ValidationMessageFor(model => model.DateFinish, "", new { @class = "text-danger" })
                                </div>
                            </div>

                           

                        
                        <div class="col-md-14 top-margin">
                            <input type="submit" class="btn btn-success btn-send col-md-12" value="SAVE TASK">
                        </div>
                    </div>

               }

            </div><!-- /.col-lg-8 col-lg-offset-2 -->

        </div> <!-- /.row-->

    </div> 
