﻿@model TDL.AspNet.Models.CreateTaskModel

@{
    ViewBag.Title = "Create";
    if (DateTime.Now.Month < 10)
    {
        ViewBag.Month = "0" + DateTime.Now.Month;
    }
    else
    {

        ViewBag.Month = DateTime.Now.Month;
    }
    if (DateTime.Now.Day < 10)
    { ViewBag.Day = "0" + DateTime.Now.Day; }
    else { ViewBag.Day = DateTime.Now.Day; }

    ViewBag.Date = DateTime.Now.Year + "-" + ViewBag.Month + "-" + ViewBag.Day;
    if(Model.DateFinish != null)
    {
        if (Model.DateFinish.Value.Month < 10)
        {
            ViewBag.Month = "0" + Model.DateFinish.Value.Month;
        }
        else
        {

            ViewBag.Month = Model.DateFinish.Value.Month;
        }
        if (Model.DateFinish.Value.Day < 10)
        { ViewBag.Day = "0" + Model.DateFinish.Value.Day; }
        else { ViewBag.Day = Model.DateFinish.Value.Day; }
        ViewBag.DateFinish = Model.DateFinish.Value.Year + "-" + ViewBag.Month + "-" + ViewBag.Day;
    }
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="container well">

    <div class="row">

        <div class="col-lg-8 col-lg-offset-2">

            <h2 class="text-center text-info">Edit task @Model.Name</h2>
            <h2 class="text-right">
                <a href="@Url.Action("Sharing","SharingTask", new { idTask = Model.IDTask, name = Model.Name })">
                    <i class="fa fa-share-square" aria-hidden="true"></i>
                </a>
            </h2>
                @using (Html.BeginForm())
            {
                    @Html.AntiForgeryToken()

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.IDCategory)
                    @Html.HiddenFor(model => model.IDTask)
                    @Html.HiddenFor(model => model.DateCreation)

                    <div class="controls">

                        <div class="row">

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="Name">Title *</label>
                                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control",  placeholder = "Please enter title *" } })
                                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="Priority">Priority *</label>
                                    @Html.EditorFor(model => model.Priority, new { htmlAttributes = new { @class = "form-control", placeholder = "Please choice level priority *" } })
                                    @Html.ValidationMessageFor(model => model.Priority, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="Description">Description </label>
                                    @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control", placeholder = "Description for task" } })
                                    @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="IDStatus">Status </label>
                                    @Html.DropDownListFor(model => model.IDStatus, ViewBag.Statuses as SelectList, new {@class = "form-control" })
                                </div>
                            </div>
                        </div>
                        <div class=" col-lg-offset-4 col-md-6">
                            <div class="form-group">
                                <label for="DateFinish">Date Finish </label>
                                @Html.Editor("DateFinish", new { htmlAttributes = new { @class = "form-control", type = "date", min = ViewBag.Date, format = "dd/MM/yyyy", value = ViewBag.DateFinish } })
                                @Html.ValidationMessageFor(model => model.DateFinish, "", new { @class = "text-danger" })
                            </div>
                        </div>




                        <div class="col-md-14 top-margin">
                            <input type="submit" class="btn btn-success btn-send col-md-12" value="SAVE TASK">
                        </div>
                    </div>

                }

</div><!-- /.col-lg-8 col-lg-offset-2 -->

    </div> <!-- /.row-->

</div>
<div class="container">
   
    <div class="row">

        <div class="col-lg-8 col-lg-offset-2">
            

            <div class="container well" id="comments">
                <div class="container top-margin se-pre-con"></div>
            </div>
        </div>
    </div>
</div>
        @Scripts.Render("~/comment/script")
        @section scripts
{
            <script type="text/javascript">
                $(document).ready(function () {
                hrefComment = "@Url.Action("Index", "Comment", new { idTask = Model.IDTask })"
        });
            </script>
        }
