﻿@model TDL.WebApi.Service.Models.ListShortTaskModel
@using TDL.AspNet.Helpers

@if (Model.Tasks.Count() > 0)
{
    <div class="container col-md-8 text-center">
        @using (Html.BeginForm("TaskSearch", "Task"))
        {
        @Html.AntiForgeryToken()

        <div class="form-horizontal  text-center">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group">
                <div class="input-group ">
                    <input class="form-control " placeholder="Search task by name" type="text" name="title" />
                    @Html.HiddenFor(model => model.Tasks.FirstOrDefault().IDCategory)
                    <span class="input-group-btn">
                        <button class="btn btn-default btn-search " type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                    </span>
                </div>
            </div>
        </div>
        }
    </div>
    <div class="table-responsive">
        <table class="table table-background table-hovers">
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Priority
                </th>
                <th>
                    DateFinish
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model.Tasks)
            {
                <tr>
                    <td>
                        <a class="a-des" href="@Url.Action("Edit", "Task", new { id = item.IDTask }, null)">@Html.DisplayFor(modelItem => item.Name)</a>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Priority)
                    </td>
                    <td>
                        @if (item.DateFinish != null)
                        {
                            @Convert.ToDateTime(item.DateFinish).ToString("dd/MM/yyyy")
                        }
                    </td>

                    <td>
                        <h4>
                            <a href="@Url.Action("Edit", new { id = item.IDTask })">
                                <i class="fa fa-pencil text-success" aria-hidden="true"></i>
                            </a>
                            <a href="@Url.Action("Delete", new { id = item.IDTask })">
                                <i class="fa fa-trash text-danger" aria-hidden="true"></i>
                            </a>
                        </h4>
                    </td>
                </tr>


            }

        </table>
    </div>
    if (Model.PagingParameter.TotalPages > 1)
    {
        <div class="btn-group">
            @Html.PageLinks(Model.PagingParameter.TotalPages, Model.PagingParameter.CurrentPage, x => Url.Action("Index", new { idCategory = Model.Tasks.First().IDCategory, page = x }))
        </div>
        }
        }
        else
        {
        <h3 class="text-warning"> Tasks not found</h3>
        }
        @Scripts.Render("~/task/script")
