﻿@model TDL.WebApi.Service.Models.ListShortTaskModel
@using TDL.AspNet.Helpers

@if (Model.Tasks.Count() > 0)
{
    <h2 class="text-center text-info">Shared task</h2>
    <div class="table-responsive wells">
        <table class="table table-background table-hovers top-margin ">
            <tr>
                <th>
                    <label class="a-des">Name</label>
                </th>
                <th>
                    <label class="a-des">Priority</label>
                </th>
                <th>
                    <label class="a-des">DateFinish</label>
                </th>
                <th>
                    <label class="a-des">Owner</label>
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model.Tasks)
            {
                <tr>
                    <td>
                        <a class="compItem a-des" href="@Url.Action("Edit", "Task", new { id = item.IDTask }, null)">@Html.DisplayFor(modelItem => item.Name)</a>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Priority)
                    </td>
                    <td>
                        @if (item.DateFinish != null)
                    {
                            @Convert.ToDateTime(item.DateFinish).ToString("dd/MM/yyyy")
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserName)
                    </td>
                    <td>
                        <h4>
                            <a href="@Url.Action("Edit", new { id = item.IDTask })">
                                <i class="fa fa-search" aria-hidden="true"></i>
                            </a>
                        </h4>
                    </td>
                </tr>


            }

        </table>
    </div>
    if (Model.PagingParameter.TotalPages > 1)
    {
        <div class="btn-group">
            @Html.PageLinks(Model.PagingParameter.TotalPages, Model.PagingParameter.CurrentPage, x => Url.Action("SharedTask", new { page = x }))
        </div>
        }
        }
        else
        {
        <h3 class="text-danger text-canter"> Tasks not found</h3>
        }
