﻿@model IEnumerable<TDL.WebApi.Service.Models.ShortTaskModel>

@{
    ViewBag.Title = "TaskSearch";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (Model.Count() > 0)
{
    <h2 class="text-center text-info">Search result</h2>
    <div class="table-responsive wells">
        <table class="table table-background table-hovers ">
            <tr>
                <th>
                    <label class="a-des">Name</label>
                </th>
                <th>
                    <label class="a-des">Priority</label>
                </th>
                <th>
                    <label class="a-des">DateFinish</label>
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <a class="compItem a-des" href="@Url.Action("Details", "Test", new { id = item.IDTask }, null)">@Html.DisplayFor(modelItem => item.Name)</a>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Priority)
                    </td>
                    <td>
                        @if (item.DateFinish != null)
                        {
                            @Convert.ToDateTime(item.DateFinish).ToString("dd/MM/yyyy")
                        }
                    </td>

                    <td>
                        <h4>
                            <a href="@Url.Action("Edit", new { id = item.IDTask })">
                                <i class="fa fa-search" aria-hidden="true"></i>
                            </a>
                            <a href="@Url.Action("Delete", new { id = item.IDTask })">
                                <i class="fa fa-trash" aria-hidden="true"></i>
                            </a>
                        </h4>
                    </td>
                </tr>


            }

        </table>
        </div>
        }
        else
        {
        <h3 class="text-danger text-center"> Tasks not found</h3>
        }
