﻿@model TDL.AspNet.Models.PageSizeSettingModel

@{
    ViewBag.Title = "EditPagination";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}



<h2 class="text-center text-info">Number of task per page</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal col-md-4 col-md-offset-4 text-center well">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

     
        <div class="form-group">
            <div class="input-group ">
                @Html.EditorFor(model => model.PageSize, new { htmlAttributes = new { @class = "form-control" } })
              
                <span class="input-group-btn">
                    <button class="btn btn-default btn-search " type="submit"><i class="fa fa-edit text-success" aria-hidden="true"></i></button>
                </span>
            </div>
            @Html.ValidationMessageFor(model => model.PageSize, "", new { @class = "text-danger" })
        </div>
    </div>
}
