﻿@model IEnumerable<TDL.WebApi.Service.Models.UserModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="table-responsive wells">
    <table class="table table-background table-hovers">
        <tr>
            <th>
                <label class="a-des text-center">User name</label>
            </th>
            <th>
                <label class="a-des text-center">Email</label>
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a class="compItem a-des text-success text-center" href="@Url.Action("Edit", "Admin", new { id = item.Id }, null)">@Html.DisplayFor(modelItem => item.UserName)</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>

                <td>
                    <h4>
                        <a href="@Url.Action("Edit", new { id = item.Id })">
                            <i class="fa fa-pencil" aria-hidden="true"></i>
                        </a>
                    </h4>
                </td>
            </tr>


        }

    </table>
    </div>

