﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.d-block {
display:block;
}
.search-width {
    min-width: 250px;
}

.border {
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    border-color:gray;
}

    .border span {
        display:block;
    }
.top-margin {
    margin-top: 20px;
}
.left-margin {
    margin-left:20px;
}

.logins-botton{
    width : 70px;
}
.table-hovers > tbody > tr:hover > td{
    background-color: #D9EDF7;
}

.list-group-item:hover {
    background-color: #D9EDF7;
}

.comment-hover:hover {
    background-color: #D9EDF7;
}
/*Category*/
.stylish-input-group .input-group-addon {
    background: white !important;
}

.stylish-input-group .form-control {
    border-right: 0;
    box-shadow: 0 0 0;
    border-color: #ccc;
}

.stylish-input-group button {
    border: 0;
    background: transparent;
}

.wells {
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: #5C4D72;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

    .wells blockquote {
        border-color: #ddd;
        border-color: rgba(0, 0, 0, 0.15);
    }

.table-background {
    background-color: #FAFCDB;
}
/*End Category*/

a.disabled {
    pointer-events: none; 
    cursor: default; 
    color: #999; 
}

.icons {
    float: right;
    margin: 0 0 0 10px;
}

.bag_image {
    z-index: 0;
    position: absolute;
    bottom: 0;
    top: 0;
    right: 0;
    height: 100vh;
    width: 100%;
    float: none;
}

.error_text {
    position: absolute;
    top: 10%;
    left: 15%;
    color: white;
}

.error {
    background-color: black;
}

.no-js #loader {
    display: none;
}

.js #loader {
    display: block;
}

.se-pre-con {
   
    width: 100px;
    height: 100px;
    background: url(imgs/Preloader_1.gif) center no-repeat #fff;
}