﻿
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Edit user information</h4>
            </div>
            <div class="modal-body" id="editBlock">
                <input type="hidden" id="IdUser" />
                <div class="form-group">
                    <label class="col-sm-4 control-label">Edit email</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="editEmail" placeholder="new email">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">Edit Phone number</label>
                    <div class="col-sm-8">
                        <input type="number" class="form-control" id="editPhone" placeholder="new phone">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">Edit user name</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="editName" placeholder="new user name">
                    </div>
                </div>
            </div>
            <div style="clear:both;"></div>
            <div class="modal-footer">
                <button id="editUser" data-dismiss="modal" class="btn btn-success">Save</button>
            </div>
        </div>
    </div>
</div>
