﻿
@model IEnumerable<TDL.WebApi.Service.Models.ExternalLoginModel>
@using Microsoft.Owin.Security

<h4>Use another service to log in.</h4>
<hr />
@{
   
        foreach (var model in Model)
        {
            using (Html.BeginForm("ExternalLogin", "Auth"))
            {
            @Html.AntiForgeryToken()
                @Html.HiddenFor(p => model.State)
                @Html.HiddenFor(p => model.Url)
                @Html.HiddenFor(p => model.Name)
            <div id="socialLoginList">
                <p class="text-center">
                   
                        <button type="submit" class="btn btn-default logins-botton">@Html.DisplayFor(p=>model.Name)</button>
                   
                </p>
            </div>
            }
        }
    
}
