﻿@model TDL.WebApi.Service.Models.OAuthModel
@using TDL.WebApi.Service.Models
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}
@Styles.Render("~/Register/css")

<div class="container">
    <div class="row">
        <div class="col-md-offset-2 col-md-6">

            <div class="tab" role="tabpanel">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#Section1" aria-controls="home" role="tab" data-toggle="tab">sign in</a></li>
                    <li role="presentation"><a href="#Section2" aria-controls="profile" role="tab" data-toggle="tab">sign up</a></li>
                </ul>
                <!-- Tab panes -->
                <div class="tab-content tabs">
                    <div role="tabpanel" class="tab-pane fade in active" id="Section1">
                        @using (Html.BeginForm("Login", "Auth",
                        null,
                        FormMethod.Post, new { @class = "form-horizontal" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            <label for="exampleInputEmail1">Login</label>
                            @Html.TextBoxFor(m => m.Login, new { @class = "form-control", id = "exampleInputEmail1" })
                            @Html.ValidationMessageFor(m => m.Login, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Password</label>
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control", type = "password", id = "exampleInputPassword1" })
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-default">Sign in</button>
                        </div>
                }
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="Section2">
                        @using (Html.BeginForm("Register", "Auth",
                        null,
                        FormMethod.Post, new { @class = "form-horizontal" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            <label for="exampleInputEmail1">First Name</label>
                            @Html.TextBoxFor(m => m.Login, new { @class = "form-control", id = "exampleInputEmail1" })
                            @Html.ValidationMessageFor(m => m.Login, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Email address</label>
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", id = "exampleInputEmail1" })
                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Password</label>
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control", type = "password", id = "exampleInputPassword1" })
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-default">Sign up</button>
                        </div>
                }
                    </div>
                </div>
            </div>

        </div><!-- /.col-md-offset-3 col-md-6 -->
        @if (Enumerable.Count(ViewBag.ExtLogins) > 0)
    {
        <div class="left-margin col-md-3">
            <section id="socialLoginForm">

                @Html.Partial("_ExternalLoginsListPartial", (IEnumerable<TDL.WebApi.Service.Models.ExternalLoginModel>)ViewBag.ExtLogins)
            </section>
        </div>
}
    </div><!-- /.row -->
   
</div><!-- /.container -->

