﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryval")
    @RenderSection("scripts", required: false)
</head>
<body>
        <div class="container">
            <div class="header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("ToDO List", "Index", "Category", new { area = "" }, new { @class = "navbar-brand " })
            </div>
            <div class="navbar navbar-collapse">
                <ul class="nav nav-pills pull-left">
                    <li class="dropdown active">
                        <a class="dropdown-toggle " data-toggle="dropdown">
                            Categories
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Categories", "Index", "Category")</li>
                            <li>@Html.ActionLink("Add", "Create", "Category")</li>
                        </ul>
                    </li>
                    <li>@Html.ActionLink("Shared Task", "SharedTask", "Task")</li>
                    <li class="navbar-right">@Html.ActionLink("Out", "LogOff", "Auth")</li>
                    <li class="navbar-right">@Html.ActionLink("Personal information", "Information", "User")</li>


                    <li class="dropdown navbar-right">
                        <a class="dropdown-toggle" data-toggle="dropdown">
                            Admin Setting
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Statuses", "Index", "Status")</li>
                            <li>@Html.ActionLink("Users", "Index", "Admin")</li>
                            <li>@Html.ActionLink("Page size", "EditPagination", "Admin")</li>
                        </ul>
                    </li>
                </ul>
               
            </div>
        </div>
    <div class="container body-content jumbotron">
        @RenderBody()
    </div>


</body>
</html>
