﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToDoList</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryval")
    @RenderSection("scripts", required: false)
</head>
<body>
        <div class="container">
            <div class="header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("ToDO List", "Index", "Category", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar navbar-collapse">
                <ul class="nav nav-pills pull-left">
                    <li class="dropdown active">
                        <a class="dropdown-toggle" data-toggle="dropdown" >
                            Categories
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Categories", "Index", "Category")</li>
                            <li>@Html.ActionLink("Add", "Create", "Category")</li>
                        </ul>
                        </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown">
                            Search Category
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu search-width">
                            <li class="col-md-12">
                            @using (Html.BeginForm("CategorySearch", "Category"))
                            {
                                @Html.AntiForgeryToken()

                                <div class="form-horizontal  text-center">
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                                    <div class="form-group">
                                        <div class="input-group ">
                                            <input class="form-control " placeholder="Search" type="text" name="title" />
                                            <span class="input-group-btn">
                                                <button class="btn btn-default btn-search " type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            }</li>
                        </ul>
                    </li>
                    <li>@Html.ActionLink("Shared Task", "SharedTask", "Task")</li>
                    <li class="navbar-right">@Html.ActionLink("Out", "LogOff", "Auth")</li>
                    <li class="navbar-right">@Html.ActionLink("Personal information", "Information", "User")</li>
                </ul>
             
            </div>
        </div>
    <div class="container body-content jumbotron">
        @RenderBody()
    </div>

   
</body>
</html>
