﻿@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<img class="bag_image" src="~/Content/imgs/error-cat.jpg">
<div class="error_text">
    <h2>
        Oh no, you&#8217;ve found our junior developer&#8217;s homepage
    </h2>
    <h3>
        Despite sleeping on the couch most of the day, our junior web developer still finds time to do some coding&#8230
    </h3>
    <h3 class="alert alert-danger">
        @Model.Exception.Message
    </h3>
    @Html.ActionLink("OK", "Login", "Auth", new { area = "" }, new { @class = "btn btn-default" })
</div>
