﻿@model IEnumerable<TDL.WebApi.Service.Models.CommentModel>

<button type="button" class="btn btn-primary top-margin " id="showAddComment">
    Add comment
</button>
    @using (Html.BeginForm("Create", "Comment"))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal col-md-8 col-md-offset-2 text-center" style="display: none;" id="newComment">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <input id="IDTask" name="IDTask" type="hidden" value=@ViewBag.IdTask>
            <div class="form-group">
                <div class="input-group ">
                    @Html.Editor("Description", new { htmlAttributes = new { @class = "form-control", maxlength = "50", required = "true", placeholder = "New comment" } })
                    @Html.ValidationMessage("Description", "", new { @class = "text-danger" })
                    <span class="input-group-btn">
                        <button class="btn btn-default btn-search " type="submit"><i class="fa fa-plus" aria-hidden="true"></i></button>
                    </span>
                </div>
            </div>

        </div>
    }


@if (Model.Count() > 0)
{ 
<h2 class="text-center text-info">Comments</h2>
foreach (var item in Model)
{

    <div class="row top-margin col-lg-offset-1">
        <div class="col-md-12">
            <div class="form-group">
                <div class="container row">
                    <label class="col-md-6 text-left text-info">@Html.DisplayFor(modelItem => item.User.UserName) </label>
                    <div class="col-md-6 text-right">
                        <label class="text-right text-info">@Convert.ToDateTime(item.DateCreation).ToString("dd/MM/yyyy") </label>
                    </div>
                </div>
                    <div class="container border comment-hover">
                        <span>@Html.DisplayFor(modelItem => item.Description) 
                        <a href="@Url.Action("Delete",  new { id = item.IDComment, idTask = item.IDTask })">
    <i class="fa fa-trash icons text-danger" aria-hidden="true"></i></a>
</span>
                    </div>

                </div>
        </div>
    </div>
}

}
