﻿@model IEnumerable<TDL.WebApi.Service.Models.SharedTaskModel>


@if (Model.Count() > 0)
{
<h2 class="text-center text-success">Added users</h2>
foreach (var item in Model)
{
    <p class="list-group-item ">
        @Html.HiddenFor(model => item.IDSharedTask)
        @Html.DisplayFor(modelItem => item.User.UserName)
        <a href="@Url.Action("Delete", "SharingTask", new { id = item.IDSharedTask })" class="delete">
            <i class="fa fa-trash icons delete" aria-hidden="true"></i>
        </a>
        </p>
}
}
else
{
    <h2 class="text-center text-danger">Added users not found</h2>
}
@Scripts.Render("~/sharingDelete/script")