﻿@model IEnumerable<TDL.WebApi.Service.Models.ShortUserModel>

@if (Model.Count() > 0)
{
<h2 class="text-center text-primary">Available users</h2>
foreach (var item in Model)
{
    <p class="list-group-item ">
        @Html.DisplayFor(modelItem => item.UserName)
        <a href="@Url.Action("CreateSharing", "SharingTask", new { idUser = item.IdUser, idTask= @ViewBag.IdTask })" class="addSharing">
            <i class="fa fa-plus icons addSharing" aria-hidden="true"></i>
        </a>
    </p>
}
}
else
{
    <h2 class="text-center text-danger">Users not found</h2>
}
@Scripts.Render("~/sharingAdd/script")
