﻿@model TDL.WebApi.Service.Models.ShortUserModel

@{
    ViewBag.Title = "Sharing";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-center text-info">Sharing @ViewBag.TaskName</h2>

<div class="container row col-lg-offset-4">
    <div class="form-group col-md-6">
        <div class="input-group ">
            @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control", @id = "searchName", placeholder = "Please enter user name" } })
            @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
            <span class="input-group-btn">
                <button class="btn btn-default btn-search search" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
            </span>
        </div>
    </div>
</div>
<div class="container row">
    <div class="container col-md-6" id="addedUser"></div>
    <div class="container col-md-6" id="availableUser"></div>
</div>

@Scripts.Render("~/sharing/script")
@section scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            idTask = @ViewBag.IdTask;
            hrefAddedUser = "@Url.Action("AddedUser", "SharingTask", new { idTask = ViewBag.IdTask })";
             hrefSearchUser = "@Url.Action("SearchUser", "SharingTask", new { idTask = ViewBag.IdTask })";
        });
    </script>
}