﻿@using Microsoft.AspNet.Identity

    @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li>
                @Html.ActionLink("Hello, " + User.Identity.GetUserName() + "!", "UserInformation", "Home", routeValues: null, htmlAttributes: new { title = "Manage" })
            </li>
            <li id="logOut"><a>Out</a></li>
        </ul>
    }

