﻿<div class="modal fade" id="AddModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Add Task</h4>
            </div>
            <div class="modal-body" id="createBlock" style="height: 265px;">
                <form>
                    <div class="form-group">
                        <label for="newName" class="col-sm-4 control-label">New name</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="newName" placeholder="Name task" style="margin-bottom: 10px;">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="newDescription" class="col-sm-4 control-label">New description</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="newDescription" placeholder="Description task" style="margin-bottom: 10px;">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="newPriority" class="col-sm-4 control-label">New Priority</label>
                        <div class="col-sm-8">
                            <input type="number" class="form-control" id="newPriority" min="1" max="10" value="1" placeholder="Priority task" style="margin-bottom: 10px;">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="newDate" class="col-sm-4 control-label">New date finish</label>
                        <div class="col-sm-8">
                            <input type="date" class="form-control" id="newDate" placeholder="Date finish task" style="margin-bottom: 10px;">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="newMy_select" class="col-sm-4 control-label">New status</label>
                        <div class="col-sm-8">
                            <select id="newMy_select" name="my_select" class="form-control" style="margin-bottom: 10px;"></select>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button id="addTask" data-dismiss="modal" class="btn btn-success">Save</button>

            </div>
        </div>
    </div>
</div>
