﻿
<div class="modal fade" id="detailsTask" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="form-group">
                    <div class="col-sm-8">
                        <button type="button" class="btn btn-info btn-primary btn-lg top-buffer col-md-8" id="sharingTask" data-toggle="modal" data-target="#sharingModal">Sharing task</button>
                    </div>
                </div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Details Task</h4>
                <div style="clear:both;"></div>
            </div>
            <div style="clear:both;"></div>
            <div class="modal-body" id="detailsBlock">
                <input type="hidden" id="detailsId" />
                <input type="hidden" id="detailsIdCategory" />
                
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Name</label>
                        <div class="col-sm-8">
                            <label class="col-sm-8 control-label" id="nameTask"></label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Description</label>
                        <div class="col-sm-8">
                            <label class="col-sm-8 control-label" id="descriptionTask"></label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Priority</label>
                        <div class="col-sm-8">
                            <label class="col-sm-8 control-label" id="priorityTask"></label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Date start</label>
                        <div class="col-sm-8">
                            <label class="col-sm-8 control-label" id="dateStart"></label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Date finish</label>
                        <div class="col-sm-8">
                            <label class="col-sm-8 control-label" id="dateFinish"></label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Status</label>
                        <div class="col-sm-8">
                            <label class="col-sm-8 control-label" id="statusTask"></label>

                        </div>
                    </div>
                </div>

            <div style="clear:both;"></div>
            <div class="modal-footer">
                <button id="comment" class="btn btn-success" style="width:100%"><span id="arrow" class="glyphicon glyphicon-arrow-down"></span></button>
            </div>
            <div class="container" id="commentBlock">
                
                </div>
            <div class="form-group " id="newCommentBlock" >
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="newComment" placeholder="Comment" style="margin-bottom: 10px;">

                </div>
                <div class="col-sm-4">
                    <button id="addComment" class="btn btn-success" >Add comment</button>
                </div>
            </div>
            <div style="clear:both;"></div>
        </div>
    </div>
</div>
