﻿<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Edit Task</h4>
            </div>
            <div class="modal-body" id="editBlock" style="height: 265px;">
                <input type="hidden" id="editId" />
                <input type="hidden" id="editIdCategory" />
                <input type="hidden" id="editCreate" />
                <div class="form-group">
                    <label class="col-sm-4 control-label">Edit name</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="editName" placeholder="Name task" style="margin-bottom: 10px;">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">Edit description</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="editDescription" placeholder="Description task" style="margin-bottom: 10px;">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">Edit Priority</label>
                    <div class="col-sm-8">
                        <input type="number" class="form-control" id="editPriority" min="1" max="10" placeholder="Priority task" style="margin-bottom: 10px;">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">Edit date finish</label>
                    <div class="col-sm-8">
                        <input type="date" class="form-control" id="editDate" placeholder="Date finish task" style="margin-bottom: 10px;">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">Edit status</label>
                    <div class="col-sm-8">
                        <select id="my_select" name="my_select"></select>

                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button id="editTask" data-dismiss="modal" class="btn btn-success">Save</button>
            </div>
        </div>
    </div>
</div>
