﻿<div class="container top-buffer">
    <div class="row">
        <div class="col-sm-3 col-sm-offset-3 ">
            <div id="imaginary_container">
                <div class="input-group stylish-input-group">
                    <input type="text" class="form-control" id="name" placeholder="Search by name">
                    <span class="input-group-addon">
                        <button type="submit" id="search">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
