﻿<div class="modal fade" id="sharingModal" tabindex="-1" style="z-index: 1130;" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="closeSharing">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Sharing task</h4>
            </div>
            <div class="modal-body" id="sharingBlock" >
                <div class="container ">
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-3 ">
                            <div id="imaginary_container">
                                <div class="input-group stylish-input-group">
                                    <input type="text" class="form-control" id="nameUser" placeholder="Search by name">
                                    <span class="input-group-addon">
                                        <button type="submit" id="searchUser">
                                            <span class="glyphicon glyphicon-search"></span>
                                        </button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="resultSearch" class="container"></div>
            </div>

            <div class="modal-footer">
                <button id="newSharingTask" data-dismiss="modal" class="btn btn-success">Save</button>
            </div>
        </div>
    </div>
</div>
